
@model List<noticias.Models.Noticia>

@{
    ViewBag.Title = "VerNoticiaSeleccionada";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<div id="wrapper">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="pull-left hidden-xs">
                    <p class="pull-left hidden-xs"><i class="fa fa-clock-o"></i><span>Lun - Sab 8.00 - 18.00</span></p>
                    </p>
                    <p class="pull-right">
                        <i class="fa fa-phone"></i>Tel No. (+051) 975-573-408
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="http://publicacion.cloudapp.net/"><img src="~/imgs/loglocabeceratest.jpg" alt="logo" /></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="http://publicacion.cloudapp.net/index.html">Inicio</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Nosotros <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://publicacion.cloudapp.net/about.html#nosotros">Compañia</a></li>
                                <li><a href="http://publicacion.cloudapp.net/about.html#nuestroEquipo">Equipo</a></li>
                                <li><a href="http://publicacion.cloudapp.net/portfolio.html">Noticias</a></li>
                                <li><a href="http://publicacion.cloudapp.net/portfolio.html">Investigación</a></li>
                            </ul>
                        </li>
                        <!--<li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Plataformas<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://publicacion.cloudapp.net/IntegrationSolutionDev/">V.1 Demos</a></li>
                                <li><a href="http://publicacion.cloudapp.net/IntegrationEnterprise/">V.1 Cosmos</a></li>
                                <li><a href="http://publicacion.cloudapp.net/IntegrationServicio/">V.1 Servicios</a></li>
                                <li><a href="http://publicacion.cloudapp.net/IntegrationSolution/">V.1 E. Partners</a></li>
                            </ul>
                        </li>
                           -->
                        <li><a href="http://publicacion.cloudapp.net/productos2.html">Productos</a>  </li>

                        <li><a href="http://publicacion.cloudapp.net/services.html">Servicios</a></li>
                        <li><a href="http://publicacion.cloudapp.net/portfolio.html">Portafolio</a></li>



                        <!-- <li> @Html.ActionLink("DetalleServicios", "vistaManuales", "Manual")</li>-->
                        <li><a href="http://publicacion.cloudapp.net/contact.html">Contacto</a></li>
                        <li><a href="/IntegrationSolutionDev/">Demos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!----AQUI COMIENZA NOTICIAS-->

    <section id="content">
        <hr>
        <ul class="list-group list-group-horizontal" id="listaSEcciones">
            <li class="list-group-item"><a href="#" target="_blank"> <strong>TECNOLOGIA </strong> </li>
            <li class="list-group-item"><a href="#" target="_blank"> <strong>INNOVACIONES </strong> </a></li>
            <li class="list-group-item"><a href="#" target="_blank"> <strong>HARDWARE</strong> </a></li>
            <li class="list-group-item"><a href="#" target="_blank"> <strong>SOFTWARE </strong></li>
            <li class="list-group-item"><a href="#" target="_blank"> <strong>EMPRESAS </strong></li>
            <li class="list-group-item"><a href="#" target="_blank"> <strong>EPARTNERS</strong> </a></li>
        </ul>

        <hr>






        <div class="container">
            <h4>@Model[0].NombreDeSeccion</h4>
            <img src="data:image/png;base64,@Model[0].img.base64String" title="imagenNoticia" id="imagenNoticia">
            <p>@Model[0].DescripcionDeImagen</p>
            <hr>
            <h1>@Model[0].cTituloPublicacion</h1>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">@Model[0].NombreAutor @Model[0].ApellidoAutor</li>
                <li class="list-group-item">@Model[0].dFechaPublicacion</li>
            </ul>
            <hr>
            <div class="row">
                <h5>@Model[0].cSubtitulo</h5>
                <div class="col-sm-4"><p style="text-align: justify">@Model[0].cTextoSubtitulo</p></div>
                <div class="col-sm-8"><img src="data:image/png;base64,@Model[0].imgSecundaria.base64String" title="imagenNoticia" id="imagenNoticia"><p>descripcion imagen secundaria</p></div>

            </div>


            <br>
            <p>
                @{

                    string[] textos = Model[0].cContenidoPublicacion.Split('*');

                    for (int i = 0; i < textos.Length; i++)
                    {
                    <p style="text-align: justify">@textos[i] </p>
                }

                }
                </p>

                <hr>
                <h5>Tambien te podria interesar:</h5>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingPanel"> <a href="~/Noticia/VerNoticiaSeleccionada/@Model[1].NIdPublicacion"> <img id="imagenLinkNoticia" src="data:image/png;base64,@Model[1].img.base64String"></a> </div>
                            <div class="panel-body" id="bodyPanel"> <h5 id="titulo">@Model[1].cTituloPublicacion</h5>   </div>
                            <div class="panel-footer" id="footerPanel"> @Model[1].dFechaPublicacion</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingPanel"> <a href="~/Noticia/VerNoticiaSeleccionada/@Model[2].NIdPublicacion"> <img id="imagenLinkNoticia" src="data:image/png;base64,@Model[2].img.base64String">  </a></div>
                            <div class="panel-body" id="bodyPanel"> <h5 id="titulo">@Model[2].cTituloPublicacion</h5>   </div>
                            <div class="panel-footer" id="footerPanel">@Model[2].dFechaPublicacion</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingPanel"> <a href="~/Noticia/VerNoticiaSeleccionada/@Model[3].NIdPublicacion"> <img id="imagenLinkNoticia" src="data:image/png;base64,@Model[3].img.base64String"> </a> </div>
                            <div class="panel-body" id="bodyPanel"> <h5 id="titulo">@Model[3].cTituloPublicacion</h5>   </div>
                            <div class="panel-footer" id="footerPanel">@Model[3].dFechaPublicacion</div>
                        </div>
                    </div>
                </div>


            </div>


    </div>






    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">Contactanos</h5>
                        <address>
                            <strong>E. Partner Business SAC</strong><br>
                            Mz A Lote 11 urb las Flores - Victor Larco Herrera<br>
                            Trujillo - La Libertad
                        </address>
                        <p>
                            <i class="icon-phone"></i> (051) 975573408 <br>
                            <i class="icon-envelope-alt"></i> epartners_sac@outlook.com
                            <i class="icon-envelope-alt"></i> victorjrlc@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">Enlaces Rápidos</h5>
                        <ul class="link-list">
                            <li><a href="about.html">Nosotros</a></li>
                            <li><a href="services.html">Servicios</a></li>
                            <li><a href="pricing.html">Precios</a></li>
                            <li><a href="portfolio.html">Portafolio</a></li>
                            <li><a href="contact.html">Contáctanos</a></li>
                            <li>
                                @Html.ActionLink("Gestionar Noticias", "Login", "Usuario")



                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="link-list">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">Últimas Noticias</h5>
                        <ul class="link-list">
                            <li><a href="portfolio.html">Implementación Brunning College</a></li>

                            <li><a href="portfolio.html">Implementación InHouse USS</a></li>
                            <li><a href="portfolio.html">Implementación Cloud UDL</a></li>
                            <li><a href="portfolio.html">Implementación Cloud Tv Cosmos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <span>
                            &copy; E. Partners Bussiness SAC 2020 Todos los derechos reservados.
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li><a href="https://www.facebook.com/epartnerssac/?ref=pag" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>


