
@model  List<noticias.Models.Noticia>


@{
    ViewBag.Title = "vistaCrud";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>vistaCrud</h2>
@Html.ActionLink("Crear", "Crear")

<table id="tablaNoticias" >
    <thead>
        <tr>
            <th> ID</th>
            <th>Titulo Noticia</th>
            <th>Fecha Publicado</th>
            <th>Autor</th>
            <th>Usuario</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nIdPublicacion</td>
                <td>@item.cTituloPublicacion</td>
                <td>@item.dFechaPublicacion</td>
                <td>@item.idAutor</td>
                <td>@item.cUsuCodigo</td>
                <td>
                    <ul>
                        <a title="Eliminar" onclick="return confirm('¿Esta seguro?');" href="~/Noticia/EliminarNoticia/@item.nIdPublicacion">X</a>
                        @Html.ActionLink("Editar", "Editar", new { id = item.nIdPublicacion })

                    </ul>
                </td>
            </tr>
        }

    </tbody>
</table>

<text>@ViewBag.cantidadDePaginas</text>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        @for (int i = 0; i < ViewBag.cantidadDePaginas; i++)
        {
            //AQUI SE TIENE QUE LLAMAR A LA FUNCION VISTACRUD PERO CON LOS VALORES CAMBIADOS PE KAOSA CON EL i
            <li class="page-item"><a class="page-link" href="#">@(i+1)</a></li>
           
        }
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
</nav>


<br>
@Html.ActionLink("Cerrar sesion y volver a voticias", "InicioNoticias")