@model noticias.Models.Manual

@{
    ViewBag.Title = "CrearPadre";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Nuevo Manual Padre</h2>

<!-- ESTO PERMITE PASAR ARCHIVOS A EL CONTROLADOR-->
@using (Html.BeginForm("CrearPadre", "Manual", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-inline:30%">
        <h4>Manual</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.CNombreManual," Nombre:" ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CNombreManual, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CNombreManual, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CDescripcion, "Descripcion:   ",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">

            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.cTipoDocumento, "PDF", new { @checked = true }) Subir un documento PDF
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.cTipoDocumento, "VIDEO", new { @checked = false }) Guardar link de Youtube
            </div>
        </div>
            
        <div class="form-group">
            @Html.LabelFor(model => model.ruta, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblRuta" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ruta, new { htmlAttributes = new { @class = "form-control", @id = "cruta" } })
                @Html.ValidationMessageFor(model => model.ruta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.archivo, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblfile" })
            <div class="col-md-10">
                <input type="file" name="archivo" id="archivo" />
            </div>
        </div>



        <div class="form-group"  style="text-align:center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" style="margin-inline:10%" />
                @Html.ActionLink("Cancelar", "ListarManuales")
            </div>
        </div>
    </div>

    <script>
            $(function () {
                fn_valida_radio();
                $("input[type='radio'][name='cTipoDocumento']").on('change', function () {
                    fn_valida_radio();
                });
            });

            function fn_valida_radio() {
                if ($("input[type='radio'][name='cTipoDocumento']:checked").val() == "PDF") {
                    $("#lblRuta, #cruta").css({ "display": "none" });
                    $("#lblfile, #archivo").css({ "display": "" });
                } else {
                    $("#lblfile, #archivo").css({ "display": "none" });
                    $("#lblRuta, #cruta").css({ "display": "" });
                }
            }
    </script>


}

<div style="margin-left:30%">
   
</div>
