@model noticias.Models.Manual

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-inline:30%">
        <h4>Manual</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.nombreArchivo,"Nombre de Archivo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.nombreArchivo, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.nombreArchivo, "", new { @class = "text-danger" })
        </div>
    </div>

    

    <div class="form-group">
        @Html.LabelFor(model => model.CNombreManual,"Nombre Manual:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.CNombreManual, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.CNombreManual, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CDescripcion,"Descripcion:" ,htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.CDescripcion, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.CDescripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BEstado,"Estado:" ,htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            <div class="checkbox">
                @Html.EditorFor(model => model.BEstado)
                @Html.ValidationMessageFor(model => model.BEstado, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CPadre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.CPadre, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.CPadre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CJerarquia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.CJerarquia, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.CJerarquia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CTipoDocumento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.CTipoDocumento, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.CTipoDocumento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CUsuCodigo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.CUsuCodigo, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.CUsuCodigo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.DFechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.DFechaRegistro, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.DFechaRegistro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ruta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="padding:0px;display:inline-block; float:left "> <text style="color:red">*</text></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.Ruta, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.Ruta, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="padding-left: 20%">
                <input type="submit" value="Guardar" class="btn btn-default" />
                @Html.ActionLink("Regresar", "Index")
            </div>
        </div>
    </div>
}

<div>
  
</div>
