@model IEnumerable<noticias.Models.Manual>

@{
    ViewBag.Title = "ListarManuales";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
    
<h2>ListarManuales</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="width:70%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NIdManual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNombreManual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPadre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CJerarquia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTipoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUsuCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DFechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ruta)
        </th>
        <th></th>
    </tr>

    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(manualesItem => item.NIdManual)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.CNombreManual)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.CDescripcion)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.BEstado)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.CPadre)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.CJerarquia)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.CTipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.CUsuCodigo)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.DFechaRegistro)
                </td>
                <td>
                    @Html.DisplayFor(manualesItem => item.Ruta)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                
                @MostrarHijos(item.hijos)
            </tr>
                }
                }

                @helper MostrarHijos(IEnumerable<noticias.Models.Manual> manuales)
                {

                    foreach (var item in manuales)
                    {
                        
                        
                    <tr id="FilaHijo_@item.NIdManual" onclick="funcionMostrar(this.id)" style="padding-left=50px">
                        <td></td>
                        <td  >
                            @Html.DisplayFor(manualesItem => item.NIdManual)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.CNombreManual)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.CDescripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.BEstado)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.CPadre)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.CJerarquia)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.CTipoDocumento)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.CUsuCodigo)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.Version)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.DFechaRegistro)
                        </td>
                        <td>
                            @Html.DisplayFor(manualesItem => item.Ruta)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>

                        @if (item.hijos.Count > 0)
                        {
                            @MostrarHijos(item.hijos)
                        }

                    </tr>

                }



                }







            </table>

<script>
    function funcionMostrar(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
